<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="5">
    <Properties>
        <Property name="consoleLayout">[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] [%c{1}:%L] - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" />
        </Console>
    </Appenders>

    <Loggers>
        <root level="info">
            <AppenderRef ref="console" />
        </root>
    </Loggers>
</Configuration>
